@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar-container{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    background-color: #F7F9FB;
    
}
.sidebar-items{
    display: flex;
    flex-direction: row;
}
.sidebar-item-icon{
    font-size: 25px;
}
.sidebar-heading{
    font-size:25px;
    color: rgb(52, 71, 103);
    font-family:'Roboto', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 1000;
}
